#mainbox {
	height:200px;
	width:200px;
	margin:auto;

	border-style:solid;
}

#intro {
	
	//margin-left:80%;
	height:50px;
	top:40%;
	background-color:black;
	text-align:center;

	color:white;
	
}



.phrase {
	
	text-align:center;
	width:100%;
	font-size:1.3em;
	float:left;
	line-height:50px;
	  
}

.phrase2 {
	text-align:center;

	width:100%;
	font-size:1.3em;
	float:left;
}

#transform {
	width:70%;
	left:50%;
	top:40%;
	margin-left:-35%;
	text-align:center;
	font-size:150%;
	z-index:101;
	.transform-origin(50%, 50%);
	
	color:white;
}

#bg1 {
	z-index:50;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: url('../images/wave.png');
		//background-size: 100% 100%;
		
}



#japan {
	width:100%;
	height:115%;
	
	z-index:99;
	background-image: url('../images/sun.jpg');
	background-size:100%;

}

#fuji {
	width:55%;
	margin-left:50%;
	
}

#kanjioverload {
	width:100%;
	height:100%;
	z-index:51;
	background-color:white;
}

#kanji1{
	top:30%;
	z-index:99;
}

#kanji2{
	top:80%;
	height:100px;
}

#kanji3{
	top:20%;
	height:80px;
	z-index:99;
}

#kanji4{
	top:0%;
	height:100px;
}

#kanji5{
	top:45%;
	z-index:99;
}

#curtain {
	width:100%;
	height:100%;
	background-color:black;
	z-index:99;
}

#end {
	height:50px;
	width:20%;
	margin-left:40%;
	margin-top:20%;
	color:white;
	background-color:rgba(88, 211, 247, 1);
	text-align:center;
	line-height:50px;
	z-index:1000;
	text-decoration:none;
}





